:root {
    --text-color: #CCCCCC;
    --main-background: #1E2128;
    --green: #94BE79;
    --orange: #D8BA86;
    --blue: #6B9FB0;

    --h2-pseudo-spacing: 12px;
}

@font-face {
    font-family: 'Oxanium';
    src: url('./fonts/Oxanium.woff2') format('woff2'),
        url('./fonts/Oxanium.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('./fonts/RobotoCondensed.woff2') format('woff2'),
        url('./fonts/RobotoCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    color: var(--text-color);
    background-color: var(--main-background);
    font-family: "Roboto Condensed";
    padding: 32px 20px;
    display: grid;
    gap: 32px;
}

h1 {
    font-size: 42px;
    font-weight: 500;
    text-align: center;
}

h2 {
    font-family: "Oxanium";
    font-size: 22px;
    font-weight: 600;
}

h2::before{
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: var(--text-color);
    margin-bottom: var(--h2-pseudo-spacing);
}

h2::after{
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: var(--text-color);
    margin-top: var(--h2-pseudo-spacing);
}

.intro-section {
    display: grid;
    gap: 12px;
}

.brand-name {
    font-family: "Oxanium";
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}

.brand-name::after {
    content: "";
    display: inline-block;
    height: 6px;
    width: 6px;
    background-color: var(--green);
    alignment-baseline: baseline;
    margin-left: 2px;
}

.project-section {
    display: grid;
    gap: 28px;
}

.project-wrapper {
    display: flex;
    justify-content: space-between;
}

.project-subheading {
    margin-bottom: 6px;
    font-family: "Oxanium";
    font-size: 12px;
    font-weight: 600;
}

.summary {
    font-size: 18px;
    font-weight: 600;
}

/* Utility */

.green {
    color: var(--green);
}

.orange {
    color: var(--orange);
}

.blue {
    color: var(--blue);
}

.gray {
    color: #cccccc81;
}

.radial-green {
    background: radial-gradient(circle at 120% 150%, #93be7924, #1e212800);
}

.radial-orange {
    background: radial-gradient(circle at 120% 150%, #D8BA8624, #1e212800);
}

.radial-blue {
    background: radial-gradient(circle at 120% 150%, #6B9FB024, #1e212800);
}