:root {
    --text-color: #CCCCCC;
    --main-background: #1E2128;
    --green: #94BE79;
    --orange: #D8BA86;

    --h2-pseudo-spacing: 12px;
}

@font-face {
    font-family: 'Oxanium';
    src: url('./fonts/Oxanium.woff2') format('woff2'),
        url('./fonts/Oxanium.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('./fonts/RobotoCondensed.woff2') format('woff2'),
        url('./fonts/RobotoCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-color);
    background-color: var(--main-background);
    font-family: "Roboto Condensed";
}

h2 {
    font-family: "Oxanium";
    font-size: 22px;
    font-weight: 600;
}

h2::before{
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: var(--text-color);
    margin-bottom: var(--h2-pseudo-spacing);
}

h2::after{
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: var(--text-color);
    margin-top: var(--h2-pseudo-spacing);
}

.brand-name {
    font-family: "Oxanium";
    font-size: 16px;
    text-transform: uppercase;
}

.brand-name::after {
    content: "";
    display: inline-block;
    height: 6px;
    width: 6px;
    background-color: var(--green);
    alignment-baseline: baseline;
    margin-left: 2px;
}
